<div class="container">
    <h1>Productos</h1>
    {{#each products}}
        <div>
            <h3>{{title}} </h3>
            <span>{{price}} </span>
            <span>{{stock}} </span>
        </div>
    {{/each}}
</div>

