    <form id="formCreateProduct">
        <input type="text" id="tite" placeholder="ingrese nombre del producto" required />
        <input type="number" id="price" placeholder="ingrese precio del producto" required />
        <input type="number" id="stock" placeholder="ingrese cantidad del producto" required />
        <input type="code" id="code" placeholder="ingrese codigo del producto" required />
        <button type="submit">Agregar Producto</button>
    </form>
<div class="container" id="realTimeProducts">

</div>
<script src="/socket.io/socket.io.js"></script>